CapaGUI/Connected Services/ServiceEmpleado/WebServiceEmpleado.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="webAnadirEmpleado">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="empleado" type="tns:Empleado" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Empleado">
        <s:complexContent mixed="false">
          <s:extension base="tns:Usuario">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Fecha_ingreso" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Tipo_empleado" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="Estado" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="Administrador" type="s:boolean" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Usuario">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Apaterno" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Amaterno" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Rut" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Fecha_nacimiento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Contrasena" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Direccion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Ciudad" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Numero_telefono" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Fecha_creacion" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="webAnadirEmpleadoResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="webAnadirEmpleadoSoapIn">
    <wsdl:part name="parameters" element="tns:webAnadirEmpleado" />
  </wsdl:message>
  <wsdl:message name="webAnadirEmpleadoSoapOut">
    <wsdl:part name="parameters" element="tns:webAnadirEmpleadoResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceEmpleadoSoap">
    <wsdl:operation name="webAnadirEmpleado">
      <wsdl:input message="tns:webAnadirEmpleadoSoapIn" />
      <wsdl:output message="tns:webAnadirEmpleadoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceEmpleadoSoap" type="tns:WebServiceEmpleadoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="webAnadirEmpleado">
      <soap:operation soapAction="http://tempuri.org/webAnadirEmpleado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceEmpleadoSoap12" type="tns:WebServiceEmpleadoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="webAnadirEmpleado">
      <soap12:operation soapAction="http://tempuri.org/webAnadirEmpleado" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceEmpleado">
    <wsdl:port name="WebServiceEmpleadoSoap" binding="tns:WebServiceEmpleadoSoap">
      <soap:address location="https://localhost:44325/WebServiceEmpleado.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceEmpleadoSoap12" binding="tns:WebServiceEmpleadoSoap12">
      <soap12:address location="https://localhost:44325/WebServiceEmpleado.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>