CapaGUI/Connected Services/ServiceCliente/WebServiceCliente.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="webAnadirCliente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cliente" type="tns:Cliente" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Cliente">
        <s:complexContent mixed="false">
          <s:extension base="tns:Usuario">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="Cant_prestamos" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="Multa_vigente" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="Miembro" type="s:boolean" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Usuario">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Apaterno" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Amaterno" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Rut" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Fecha_nacimiento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Contrasena" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Direccion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Ciudad" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Numero_telefono" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Fecha_creacion" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="webAnadirClienteResponse">
        <s:complexType />
      </s:element>
      <s:element name="webMostrarDatosCliente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="rut" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="webMostrarDatosClienteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="webMostrarDatosClienteResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="webIniciarSesionCliente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="usuario" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="webIniciarSesionClienteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="webIniciarSesionClienteResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="webMostrarTodosClientes">
        <s:complexType />
      </s:element>
      <s:element name="webMostrarTodosClientesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="webMostrarTodosClientesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="webMostrarClienteFiltro">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="filtro" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="webMostrarClienteFiltroResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="webMostrarClienteFiltroResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="webActualizarPrestamosMultas">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="rut" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="webActualizarPrestamosMultasResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="webAnadirClienteSoapIn">
    <wsdl:part name="parameters" element="tns:webAnadirCliente" />
  </wsdl:message>
  <wsdl:message name="webAnadirClienteSoapOut">
    <wsdl:part name="parameters" element="tns:webAnadirClienteResponse" />
  </wsdl:message>
  <wsdl:message name="webMostrarDatosClienteSoapIn">
    <wsdl:part name="parameters" element="tns:webMostrarDatosCliente" />
  </wsdl:message>
  <wsdl:message name="webMostrarDatosClienteSoapOut">
    <wsdl:part name="parameters" element="tns:webMostrarDatosClienteResponse" />
  </wsdl:message>
  <wsdl:message name="webIniciarSesionClienteSoapIn">
    <wsdl:part name="parameters" element="tns:webIniciarSesionCliente" />
  </wsdl:message>
  <wsdl:message name="webIniciarSesionClienteSoapOut">
    <wsdl:part name="parameters" element="tns:webIniciarSesionClienteResponse" />
  </wsdl:message>
  <wsdl:message name="webMostrarTodosClientesSoapIn">
    <wsdl:part name="parameters" element="tns:webMostrarTodosClientes" />
  </wsdl:message>
  <wsdl:message name="webMostrarTodosClientesSoapOut">
    <wsdl:part name="parameters" element="tns:webMostrarTodosClientesResponse" />
  </wsdl:message>
  <wsdl:message name="webMostrarClienteFiltroSoapIn">
    <wsdl:part name="parameters" element="tns:webMostrarClienteFiltro" />
  </wsdl:message>
  <wsdl:message name="webMostrarClienteFiltroSoapOut">
    <wsdl:part name="parameters" element="tns:webMostrarClienteFiltroResponse" />
  </wsdl:message>
  <wsdl:message name="webActualizarPrestamosMultasSoapIn">
    <wsdl:part name="parameters" element="tns:webActualizarPrestamosMultas" />
  </wsdl:message>
  <wsdl:message name="webActualizarPrestamosMultasSoapOut">
    <wsdl:part name="parameters" element="tns:webActualizarPrestamosMultasResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceClienteSoap">
    <wsdl:operation name="webAnadirCliente">
      <wsdl:input message="tns:webAnadirClienteSoapIn" />
      <wsdl:output message="tns:webAnadirClienteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="webMostrarDatosCliente">
      <wsdl:input message="tns:webMostrarDatosClienteSoapIn" />
      <wsdl:output message="tns:webMostrarDatosClienteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="webIniciarSesionCliente">
      <wsdl:input message="tns:webIniciarSesionClienteSoapIn" />
      <wsdl:output message="tns:webIniciarSesionClienteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="webMostrarTodosClientes">
      <wsdl:input message="tns:webMostrarTodosClientesSoapIn" />
      <wsdl:output message="tns:webMostrarTodosClientesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="webMostrarClienteFiltro">
      <wsdl:input message="tns:webMostrarClienteFiltroSoapIn" />
      <wsdl:output message="tns:webMostrarClienteFiltroSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="webActualizarPrestamosMultas">
      <wsdl:input message="tns:webActualizarPrestamosMultasSoapIn" />
      <wsdl:output message="tns:webActualizarPrestamosMultasSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceClienteSoap" type="tns:WebServiceClienteSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="webAnadirCliente">
      <soap:operation soapAction="http://tempuri.org/webAnadirCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="webMostrarDatosCliente">
      <soap:operation soapAction="http://tempuri.org/webMostrarDatosCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="webIniciarSesionCliente">
      <soap:operation soapAction="http://tempuri.org/webIniciarSesionCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="webMostrarTodosClientes">
      <soap:operation soapAction="http://tempuri.org/webMostrarTodosClientes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="webMostrarClienteFiltro">
      <soap:operation soapAction="http://tempuri.org/webMostrarClienteFiltro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="webActualizarPrestamosMultas">
      <soap:operation soapAction="http://tempuri.org/webActualizarPrestamosMultas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceClienteSoap12" type="tns:WebServiceClienteSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="webAnadirCliente">
      <soap12:operation soapAction="http://tempuri.org/webAnadirCliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="webMostrarDatosCliente">
      <soap12:operation soapAction="http://tempuri.org/webMostrarDatosCliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="webIniciarSesionCliente">
      <soap12:operation soapAction="http://tempuri.org/webIniciarSesionCliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="webMostrarTodosClientes">
      <soap12:operation soapAction="http://tempuri.org/webMostrarTodosClientes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="webMostrarClienteFiltro">
      <soap12:operation soapAction="http://tempuri.org/webMostrarClienteFiltro" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="webActualizarPrestamosMultas">
      <soap12:operation soapAction="http://tempuri.org/webActualizarPrestamosMultas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceCliente">
    <wsdl:port name="WebServiceClienteSoap" binding="tns:WebServiceClienteSoap">
      <soap:address location="https://localhost:44325/WebServiceCliente.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceClienteSoap12" binding="tns:WebServiceClienteSoap12">
      <soap12:address location="https://localhost:44325/WebServiceCliente.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>