CapaGUI/Connected Services/ServiceCategoria/WebServiceCategoria.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="webAnadirCategoria">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="categoria" type="tns:Categoria" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Categoria">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id_categoria" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombre_genero" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Descripcion" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="webAnadirCategoriaResponse">
        <s:complexType />
      </s:element>
      <s:element name="webMostrarListadoCategoria">
        <s:complexType />
      </s:element>
      <s:element name="webMostrarListadoCategoriaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="webMostrarListadoCategoriaResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="webAnadirCategoriaSoapIn">
    <wsdl:part name="parameters" element="tns:webAnadirCategoria" />
  </wsdl:message>
  <wsdl:message name="webAnadirCategoriaSoapOut">
    <wsdl:part name="parameters" element="tns:webAnadirCategoriaResponse" />
  </wsdl:message>
  <wsdl:message name="webMostrarListadoCategoriaSoapIn">
    <wsdl:part name="parameters" element="tns:webMostrarListadoCategoria" />
  </wsdl:message>
  <wsdl:message name="webMostrarListadoCategoriaSoapOut">
    <wsdl:part name="parameters" element="tns:webMostrarListadoCategoriaResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceCategoriaSoap">
    <wsdl:operation name="webAnadirCategoria">
      <wsdl:input message="tns:webAnadirCategoriaSoapIn" />
      <wsdl:output message="tns:webAnadirCategoriaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="webMostrarListadoCategoria">
      <wsdl:input message="tns:webMostrarListadoCategoriaSoapIn" />
      <wsdl:output message="tns:webMostrarListadoCategoriaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceCategoriaSoap" type="tns:WebServiceCategoriaSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="webAnadirCategoria">
      <soap:operation soapAction="http://tempuri.org/webAnadirCategoria" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="webMostrarListadoCategoria">
      <soap:operation soapAction="http://tempuri.org/webMostrarListadoCategoria" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceCategoriaSoap12" type="tns:WebServiceCategoriaSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="webAnadirCategoria">
      <soap12:operation soapAction="http://tempuri.org/webAnadirCategoria" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="webMostrarListadoCategoria">
      <soap12:operation soapAction="http://tempuri.org/webMostrarListadoCategoria" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceCategoria">
    <wsdl:port name="WebServiceCategoriaSoap" binding="tns:WebServiceCategoriaSoap">
      <soap:address location="https://localhost:44325/WebServiceCategoria.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceCategoriaSoap12" binding="tns:WebServiceCategoriaSoap12">
      <soap12:address location="https://localhost:44325/WebServiceCategoria.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>